:root {
  background-color: #f5f5f5;
}

@import url("./normilize.css");

@font-face {
  font-weight: 500; /* Соответствует значению normal */
  font-family: SF-Pro-Display;
  src: url("./assets/fonts/SF-Pro-Display-Regular.woff2");
}
